
p {
      font-family: 'Open  Sans', Arial;
    }
    .test {
      background-color: #b1dde8;
      display: inline-block;
      width: 30%;
      max-width: 33%;
      height: 200px;
      }
    h1 {
        text-transform: uppercase;
      }
    input {
        display: inline-block;
        width: 70px;
        height: 20px;
        text-transform: uppercase;
        font-size: 10px;
        border: 0;
        margin-bottom: 20px;
      }
    .vcenter {
        top: 50%;
        position: relative;
        display: inline-block;
        transform: translateY(-50%);
      }
    .vcenter h2, .vcenter p {
        margin: 0;
      }
    a {
      text-decoration:none;
    }
    .button:hover {
      background-color:#b1dde8;
    }
    .mosaique {
      max-width: 25%;
      position: relative;
    }
    .mosaique img {
      max-width: 100%;
    }
    .overlay {
      position: absolute;
      top: 0px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      opacity: 0;
      background-color: black;
      z-index: 1;
      border: red 2px solid;
    }
    .mosaique:hover .overlay{
      opacity:0.7;
      visibility: visible;
    }
    .button {
      font-size: 15px;
      width: 100px;
    }
    #button:hover {
      background-color: white;
    }
    .telmail {
      background-color: #b1dde8;
      text-decoration:none;
      padding: 20px;
      text-align: left;
    }
    .telmail a:hover {
      color: black;
    }
    .telmail a {
      color: white;
    }
    .telmail a span {
      position: relative;
      top: -6px;
    }
    .footer {
      background-color: #b1dde8;
      text-decoration:none;
      padding: 40px;
    }
    .footer i {
      color: white;
      border: solid 1px white;
      padding: 15px;
    }
    .footer i:hover {
      color: #b1dde8;
      background-color: white;
    }
    .contact {
      display: inline-block;
      width: 50%;
      max-width: 50%;
      text-align: left;
      margin-right: 20px;
    }
    .text {
      width: 50%;
      max-width: 50%;
      text-align:left;
      margin-left: 20px;
    }
    #contact {
      display:flex;
      width: 100%;
      max-width: 100%;
    }
    form {
      height: 100%;
      width: 100%;
    }
    .input1{
      border: solid 1px grey;
      width: 100%;
      max-width: 100%;
      font-size: 15px;
      background-color: white;
    }
    #message {
      width: 100%;
      max-width: 100%;
      height: 100px;
      max-height: 100px;
      text-transform: uppercase;
    }
    .boutonform {
      width: 150px;
      text-transform: uppercase;
      height: 50px;
      background-color: white;
      border: solid grey 1px;
    }
    .href {
      color: #007bff;
    }
    .menu {
      text-transform: uppercase;
      margin: 10px;
      text-align: right;
      color:white;
      text-decoration: none;
    }
    .menu a {
      color: black;
      text-decoration: none;
    }
    .navmob {
      text-align: right;
      text-transform: uppercase;
    }
    .navbar {
      text-transform: uppercase;
      margin: 10px;
    }
    .dropdown {
      position: relative;
      display: none;
    }
    .dropdown-content {
      display: block;
      position: absolute;
      background-color: #f9f9f9;
      width: 100%;
      max-width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      right: 0;
      background-color:black;
      color: white;
      text-decoration: none;
      text-align: center;
    }
    .dropdown i {
      color:white;
      background-color:black;
      border: solid 4px black;
      top: 0px;
      position: absolute;
      right: 0px;
      font-size: 40px;
      z-index: 2;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a {
      color: white;
      text-decoration: none;
      display:block;
      padding: 10px;
      width: 100%;
      max-width: 100%;
    }
    .logo {
      position:absolute;
      margin-top: 10%;
      margin-left: 5%;
      width: 200px;
    }
    @media screen and (max-width: 640px) {
      .dropdown {
        display:block;
      }
      .dropdown-content {
        display:none;
      }
      .menu {
        display:none;
      }
      .txtimg {
        display:none;
      }
      .logo {
        width: 200px;
        margin-left: auto ;
        margin-right: auto ;
        position: relative;
        display: block;
        margin-top:0;
      }
      .telmail {
        display:none;
      }
      .test {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
      .mosaique {
        position:block;
        max-width: 100%;
      }
      #contact {
        display:block;
        width: 100%;
        max-width: 100%;
        text-align: left ;
      }
      .text {
        text-align: left ;
        width: 100%;
        max-width: 100%;
        margin: 0;
      }
      .contact {
        text-align: left ;
        width: 100%;
        max-width: 100%;
      }
      .dropdown i:hover{
        border: solid 2px orangered;
      }
    }
    @media screen and (min-width: 641px) and (max-width: 768px) {
      .mosaique {
        max-width: 50%;
      }
    }

